.no-padding {
    padding: 0px;
}

.theme-background {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

.rounded-shadow {
    box-shadow: 0 0 2px grey;
    border-radius: 50%;
}

.password-1 block.high, .password-1 block:not(.empty) {
    border-color: #FF0000; background-color: #FF0000; 
}
.password-2 block.high, .password-2 block:not(.empty) {
    border-color: #FF8500; background-color: #FF8500; 
}
.password-3 block.high, .password-3 block:not(.empty) {
    border-color: #FFF400; background-color: #FFF400; 
}
.password-4 block.high, .password-4 block:not(.empty) {
    border-color: #9FFF00; background-color: #9FFF00; 
}
.password-5 block.high, .password-5 block:not(.empty) {
    border-color: #2DFF00; background-color: #2DFF00; 
}

.separator {
    background-color: transparent;
}

.small-padding {
    padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.menu-button {
    opacity: 0.2;
	box-shadow: none;
	min-height: 16px;
	min-width: 16px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}

.menu-button:hover {
    color: inherit;
    border-color: alpha(@theme_fg_color, 0.1);
  	opacity: 0.5;
}

.menu-button-destructive {
    opacity: 0.8;
	box-shadow: none;
	min-height: 16px;
	min-width: 16px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: red;
}

.menu-button-destructive:hover {
    border-color: red;
}

row .menu-button {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

row:hover .menu-button {
  	color: inherit;
}

row:hover .menu-button:hover {
	border-color: alpha(@theme_fg_color, 0.1);
}

.secret-listbox-row-title {
    border: solid;
    opacity: 0.7;
    border-color: @theme_selected_bg_color;
    border-bottom-width: 1px;
    border-radius: 0px;
    padding: 5px;
}

.secret-listbox-row-title:selected{
    border: none;
}


.secret-listbox-row {
    background-color: white;
    color: black;
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-radius: 3px;    
    margin: 10px;
}

.secret-listbox-row-padding {
    padding: 10px;
}
